<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/calendar">Availability Calendar</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li><a href="/walks">Walks</a></li>
            <li><a href="/walks">What Will I See</a></li>
        </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:mboles57@gmail.com">email</a></li>
            <li>Phone - Home: 727-754-2202 / Cell: 727-808-8016</li>
        </ul>
    </footer>
</body>

</html>